.fullpage.country {
    padding: 0;
    width: 100%;

    header {
        width: calc(100% - 32px);
        padding: 8px 16px;
        display: flex;
        justify-content: space-between;
        position: relative;
        left: 0;
        top: 0;
        right: 0;
        background-color: #dee6e8;

        > * {
            margin: 0;
            display: flex;
            align-items: center;
        }

        .open-menu {
            display: none;
        }

        .country-name {
            font-size: 24px;
            height: 48px;
            display: flex;
            align-items: center;
        }

        @media only screen and (max-width: 1023px) {
            align-items: center;
            padding: 10px 16px;

            > * {
                margin: initial;
                display: initial;
                align-items: initial;
            }

            .open-menu {
                display: flex;
            }

            .country-icon {
                height: 40px;
                width: 40px;
            }

            .back-link {
                visibility: hidden;
            }
        }
    }

    .country-section {
        border-bottom: 1px solid;
        padding: 24px 48px;
        font-weight: 400;

        .general {
            margin-bottom: 24px;
        }
    }

    .country-data {
        margin-top: 16px;
    }
}
