.country-link-container {
    background-color: var(--text-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    width: calc(50% - 64px);

    .country {
        &-icon {
            background-size: cover;
            overflow: hidden;
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }

        &-title {
            margin: 20px 0 0;
            font-size: 16px;
            text-align: center;
            height: 42px;
            display: flex;
            align-items: center;
        }
    }   
}